/*
**	THE CORE ELEMENTS
*/

body {
	background-color: white;
}

.game_world_root {
	width: 340px;
}

/*
**	THE BOARD
*/

.board {
	border-collapse: collapse;
	cursor: pointer;
}

.board td {
	width: 50px;
	height: 50px;
	border: 4px solid black;
	text-align: center;
}

/*
**	THE BASIC PIECES
*/

.divinely_inspired {
	background-color: #f2d773;
}

.baboon.angel {
	font-size: 37px;
	position: relative;
	top: 3px;
}

.baboon.mortal {
	font-size: 28px;
	position: relative;
	top: 3px;
}

.hippo.angel {
	font-size: 38px;
	position: relative;
	top: -2px;
}

.hippo.mortal {
	font-size: 28px;
	position: relative;
	top: 0px;
}

/*
**	MOVE INDICATORS
*/

.selected {
	animation: pulse_selected 4s ease-in-out infinite alternate;
}

.selected.divinely_inspired {
	animation: pulse_selected_inspired 4s ease-in-out infinite alternate;
}

@keyframes pulse_selected {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #66FFCC;
	}
	100% {
		background-color: transparent;
	}
}

@keyframes pulse_selected_inspired {
	0% {
		background-color: #f2d773;
	}
	50% {
		background-color: transparent;
	}
	100% {
		background-color: #f2d773;
	}
}

/*
**	THE INFO BAR
*/

.info_bar {
	text-align: center;
	margin-top: 1em;
}

.current_player {
	
}

.cpi.baboon {
	font-size: 120%;
}

.cpi.hippo {
	font-size: 170%;
}