/*
**	THE CORE ELEMENTS
*/

#info_bar, #info_bar * {
	box-sizing: border-box;
}

body {
	background-color: white;
	
	font-family: Raleway, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.game_world_root {
	width: 340px;
}

/* @font-face  {
	font-family: 'Raleway';
	src: url('/scaffolding/fonts/Raleway/Raleway-VariableFont_wght.ttf');
} */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
**	THE BOARD
*/

.board {
	border-collapse: collapse;
	cursor: pointer;
}

.board td {
	width: 50px;
	height: 50px;
	border: 4px solid black;
	text-align: center;
}

/*
**	THE BASIC PIECES
*/

.divinely_inspired {
	background-color: #f2d773;
}

.baboon.angel {
	font-size: 37px;
	position: relative;
	top: 3px;
}

.baboon.mortal {
	font-size: 28px;
	position: relative;
	top: 3px;
}

.hippo.angel {
	font-size: 38px;
	position: relative;
	top: -2px;
}

.hippo.mortal {
	font-size: 28px;
	position: relative;
	top: 0px;
}

/*
**	MOVE INDICATORS
*/

.selected {
	animation: pulse_selected 4s ease-in-out infinite alternate;
}

.selected.divinely_inspired {
	animation: pulse_selected_inspired 4s ease-in-out infinite alternate;
}

@keyframes pulse_selected {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: #66FFCC;
	}
	100% {
		background-color: transparent;
	}
}

@keyframes pulse_selected_inspired {
	0% {
		background-color: #f2d773;
	}
	50% {
		background-color: transparent;
	}
	100% {
		background-color: #f2d773;
	}
}

/*
**	THE INFO BAR
*/

#info_bar {
	text-align: center;
	margin-top: 1em;
	width: 100%;
	display: flex;
	
	background: #7c98b3;
	border-radius: 12px;
	padding: 20px 20px;
}

#info_bar #item_flex_container {
	display: flex;
	margin: 0 auto;
}

#info_bar .s_item {
	display: inline-block;
	background-color: #A7C4E0;
	margin-right: 15px;
	border-radius: 6px;
	height: 40px;
	padding: 3px 6px;
	
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	
	color: white;
}

/* !STYLES FOR NEW TURN PULSE (PARTWAY DONE)

GameWorld.vue changes are at https://github.com/tog22/gods_vue/commit/f14faff612692f26938461902f6907023e335d8f


#info_bar .s_item {
	display: inline-block;
	
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	
	color: white;
}

#info_bar .s_item .s_rounded {
	display: table-cell;
	vertical-align: middle;
	
	background-color: #A7C4E0;
	margin-right: 15px;
	border-radius: 6px;
	height: 40px;
	padding: 3px 6px;
}
*/


#info_bar .s_item .s_text {
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
}

#info_bar .s_item.s_text_only {
	padding-left: 18px;
	padding-right: 18px;
}

#info_bar .s_item:last-child {
	margin-right: 0;
}

#info_bar .current_player.s_item {
	
}

.cpi.baboon {
	font-size: 120%;
	margin-right: 2px;
}

.cpi.hippo {
	font-size: 170%;
	margin-right: 2px;
	
	display: inline-block;
	padding-bottom: 5px;
}

.player_pulse {
	animation: player_pulse 4s ease-in-out 1 0s;
	animation-iteration-count: 100;
}

@keyframes player_pulse {
	0% {
		background-color: #A7C4E0;
	}
	50% {
		background-color: #B4D4F2;
	}
	100% {
		background-color: #A7C4E0;
	}
}

@keyframes pulse_selected {
	0% {
		background-color: #A7C4E0;
	}
	50% {
		background-color: #E1EDF8;
	}
	100% {
		background-color: #A7C4E0;
	}
}

/* remove after playing with :

$("#info_bar .current_player.s_item").on(
	"transitionend MSTransitionEnd webkitTransitionEnd oTransitionEnd",
	function() {
		$(this).removeClass("player_pulse");
	}
);

*/